GOOGLE_GEMINI_API_KEY=AIzaSyAGQj7fVV1uUB26MPtkrSK4Okpa0QzhLb8
APP_LOGIN_EMAIL=prema@gmail.com
APP_LOGIN_PASSWORD=prema@123
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYXNod2luIiwiaWF0IjoxNzc0NDU2MjE3LCJleHAiOjE3NzQ0NTk4MTd9.EP0uE7v_Neec6MF3180lOanIv6loKJeeGL_WmVRpNgw
DATA_GOV_IN_API_KEY=579b464db66ec23bdd00000139e1c58f5fbe4898458aff8c750fb317
